node_modules
npm-debug.log
.DS_Store
.env
!examples/lambda-function-url/**/*.env
coverage
sam-template.packaged.yaml
codegenie-serverless-express-*.tgz
dist/
examples/nextjs
typescript-out
.build
.serverless
.idea
